* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

p b.linkToIntern {
    text-decoration: underline;
    cursor: pointer;
}

#logobox {
    top: 10px;
    left: 10px;
    width: 200px;
    z-index: 10;
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    height: 2.5em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
}

#logo {
    height: 38px;
    width: 200px;
    margin-top: 4px;
}

#map {
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: fixed;
    /* transition: all 0.5s ease-in-out; */
}

.blured-map {
    filter: blur(5px) grayscale(60%);
}

.mapboxgl-popup-tip {
    display: none;
}

.mapboxgl-popup-content {
    background: rgba(217, 0, 87, 0.7) !important;
    color: white;
    /* font-weight: bold; */
    padding: 5px !important;
    border-radius: 5px !important;
    border-top-left-radius: 0 !important;
}

.menuPannel,
.menuPannel * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.menuPannel {
    display: block;
    width: 100%;
    max-width: 30em;
    margin: 10px auto;
    height: 2.5em;
    font-size: 10pt;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
    position: relative;
    z-index: 10;
}

.menuPannel a {
    width: 25%;
    float: left;
    text-align: center;
    line-height: 2.5em;
    color: #222;
    position: relative;
    z-index: 20;
    cursor: pointer;
    /* transition: all 0.2s ease-in-out; */
    text-decoration: none;
}

.menuItem.active {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.1) 0px -1px 2px;
}

.indicator {
    display: block;
    width: 25%;
    height: 2.5em;
    background: #D90057;
    background-image: linear-gradient(-143deg, #FF4C76 0%, #D90057 100%);
    border: solid #fff 3px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: 15;
    /* transition: left 0.2s ease-in-out; */
}

.menuPannel .menuItem:nth-of-type(1).active~.indicator {
    left: 0;
}

.menuPannel .menuItem:nth-of-type(2).active~.indicator {
    left: 25%;
}

.menuPannel .menuItem:nth-of-type(3).active~.indicator {
    left: 50%;
}

.menuPannel .menuItem:nth-of-type(4).active~.indicator {
    left: 75%;
}

.content-pannel {
    background-image: linear-gradient(-143deg, #FF4C76 0%, #D90057 100%);
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    /* max-width: 1000px;
    max-height: 500px;
    width: 80vw;
    height: 80vh; */
    z-index: 50;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    overflow: auto;
    padding: 3vw 6vw;
    position: fixed;
    top: 60px;
    /* bottom: 50px; */
    left: 10vw;
    right: 10vw;
    max-height: 70vh;
    max-height: calc(100vh - 200px);
}

.content-pannel .title {
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.content-pannel .text {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content-pannel .btn {
    width: 100%;
    text-align: center;
}

.content-pannel .btn button {
    all: unset;
    display: inline-block;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 10px;
    cursor: pointer;
    width: 350px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    margin: 10px 10px;
}

#selectionPannel>div.data>div>div>button {
    all: unset;
    display: inline-block;
    /* background: rgba(217, 0, 87, 0.5); */
    background: #D90057;
    background-image: linear-gradient(-143deg, #FF4C76 0%, #D90057 100%);
    border-radius: 10px;
    cursor: pointer;
    width: 350px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    margin: 10px 10px;
}

.animated {
    transition: all 0.15s ease-in-out;
}

#selectionPannel {
    position: fixed;
    top: 70px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    background-color: white;
    border-radius: 10px;
    /* padding: 25px; */
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.27);
    z-index: 100;
}

#selectionPannel .info {
    /* border: solid red 1px; */
    float: left;
    /* padding-right: 5px; */
    width: 270px;
    /* min-width: 210px; */
    height: 100%;
    overflow: scroll;
}

#selectionPannel .gemeenteName {
    font-size: 1.4em;
    display: inline-block;
    margin: 0 0 10px 0;
    color: #D90057;
}

#selectionPannel .wijkName {
    color: #D90057;
    font-size: 1.4em;
    display: inline-block;
    margin: 0 0 10px 0;
}

#selectionPannel .buurtName {
    color: #D90057;
    font-size: 1.4em;
    display: inline-block;
    /* margin: 0 0 10px 0; */
}

.fullWidthSelect {
    /* display: inline-block; */
    width: 210px;
    /* height: 300px; */
}

.floatRight {
    float: right;
    /* padding-right: 10px; */
    /* display: inline-block; */
    /* padding-bottom: 3px; */
}

#selectionPannel .areaStatistics {
    margin: 25px 15px 0 0;
    padding-top: 10px;
    border-top: solid 1px gray;
}

#selectionPannel .areaStatistics div {
    margin: 0 0 5px 0;
}

#selectionPannel .areaStatistics div.paddingBottomExtra {
    margin: 0 0 15px 0;
}

#selectionPannel .padding {
    margin: 25px 0 25px 25px;
    /* border-right: 1px solid grey; */
    height: calc(100% - 50px);
}

.PZH-logo {
    width: 250px;
    position: absolute;
}

.FnRPhoto {
    margin-top: 50px;
    width: 75%;
    border-radius: 10px;
}

#selectionPannel .data {
    /* border: solid red 1px; */
    /* width: 100%; */
    /* margin: 25px; */
    /* height: calc(100% - 50px); */
    border-left: 1px solid grey;
    height: 100%;
    float: none;
    overflow: hidden;
    /* float: left; */
    /* padding: 25px; */
}

.center5050 {
    position: relative;
    top: 50%;
    left: 50%;
    /* width: 100%; */
    /* height: 100%; */
    transform: translate(-50%, -50%);
}

.infoBtn {
    cursor: pointer;
    display: inline;
    /* transform: translate(2px, 5px); */
    float: right;
    margin-right: 5px;
}

#diagram {
    width: 80%;
    height: 100%;
}

.profileImg {
    width: 300px;
    border: solid #f4a261 1px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 25px;
    /* margin: 0 15%; */
}

.profileInfo {
    width: 200px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    color: white;
}

.profileInfo a {
    color: white;
}

#closeOnClick {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.mapboxgl-ctrl-geocoder {
    height: 40px !important;
    border-radius: 10px !important;
    padding-top: 2px;
    padding-left: 2px;
    background: rgba(255, 255, 255, 0.95) !important;
}

@media (min-width: 500px) {
    .menuPannel {
        font-size: 12pt;
    }
}

@media only screen and (max-width: 1000px) {
    #logobox {
        bottom: 5px;
        top: unset;
        z-index: 1;
    }
    .mapboxgl-ctrl-top-right {
        top: unset !important;
        bottom: 10px !important;
        z-index: 9 !important;
    }
    /* .mapboxgl-ctrl-geocoder {
        width: 33.3333% !important;
        height: 36px !important;
        font-size: 15px !important;
        line-height: 20px !important;
        max-width: 360px !important;
    } */
}

@media only screen and (max-width: 500px) {
    .menuPannel {
        margin: 10px;
        width: unset;
    }
}